@font-face {
    font-family: 'figtree-var';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'figtree-italic';
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
}
body{
    margin: 0px;
    background: #F4D04E;
}

.container{
    display:grid;
    place-content: center;
    height:100vh;
}

.card{
    height:522px;
    width:384px;
    background: #fff;
    overflow:hidden;
    border-radius: 20px;
    border: 1px solid #111;
    box-shadow: 8px 8px #111;
}

.banner{
    height: 200px;
    width: 336px;
    margin: 24px;
    border-radius: 10px;
}
.tag{
    background: #F4D04E;
    width: 58px;
    height: 22px;
    font-family: 'figtree-var';
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 150%;
    margin-left: 24px;
    margin-top: -4px;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
}

h1{
    font-family: 'figtree-var';
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-left: 24px;
    margin-top: 12px;
    margin-bottom: 0px;
}

h2{
    font-family: 'figtree-var';
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 150%;
    margin-left: 12px;

}

h3{
    font-family: 'figtree-var';
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 150%;
    font-weight: normal;
    margin-left: 24px;
    margin-top: 12px;
}

p{
    font-family: 'figtree-var';
    font-size: 16px;
    letter-spacing: 150%;
    letter-spacing: 0px;
    width: 336px;
    margin-left: 24px;
    margin-top: 12px;
    margin-bottom: 0px;
}
.ID_tag{
    display:flex;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.id{
    height: 32px;
    width: 32px;
}